
.vs/UHF/FileContentIndex/0cac081d-bbfd-4ede-af90-dc981572f0e6.vsidx
.vs/UHF/FileContentIndex/2f93cfdf-bce7-49b7-b137-44b7a2f1a319.vsidx
.vs/UHF/FileContentIndex/b697dd04-c76e-4361-b761-29a8fcbd061e.vsidx
UHF/obj/Debug/110/demo_uhf_uart.csproj.AssemblyReference.cache
UHF/obj/Debug/110/designtime/build.props
UHF/obj/Debug/110/DesignTimeResolveAssemblyReferencesInput.cache
UHF/obj/Debug/110/libraryprojectimports.cache
.vs/UHF/FileContentIndex/b697dd04-c76e-4361-b761-29a8fcbd061e.vsidx
UHF/obj/Debug/110/demo_uhf_uart.csproj.AssemblyReference.cache
UHF/obj/Debug/110/designtime/build.props
UHF/obj/Debug/110/DesignTimeResolveAssemblyReferencesInput.cache
UHF/obj/Debug/110/libraryprojectimports.cache
